* {
  background-color: #282c34;
  /* overflow: hidden; */
  color: white;
  font-family: "Sora", sans-serif;
}

.App {
  text-align: center;
  /* font-family: "Domine", serif; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 320px;
}

.App-link {
  color: #61dafb;
}

.PetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 610px) {
  .single-user-container,
  .single-pet-container {
    display: flex;
    align-items: center;
    max-width: 800px;
  }
}
