* {
  background-color: #282c34;
  /* overflow: hidden; */
  color: white;
  font-family: "Sora", sans-serif;
}

.App {
  text-align: center;
  /* font-family: "Domine", serif; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 320px;
}

.PetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.AppointmentList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: underline;
  font-size: 18px !important;
}

::after {
  color: #607744 !important;
}

a.nav-link {
  color: #607744 !important;
}

.link {
  color: white;
}

.link-active {
  /* 
a.nav-link.active { */
  background-color: #282c34 !important;
  color: #607744 !important;
  font-size: 18px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #607744 !important;
}

a.nav-link:hover {
  color: #8eaf66 !important;
  transition: 0.3;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #607744 !important;
}

a.show > .nav-link {
  background-color: #607744 !important;
}

.card-text {
  font-size: 18px !important;
  text-align: justify !important;
  margin: 20px 20px 24px 20px;
}

.card-title {
  font-size: 24px !important;
  text-align: center !important;
  margin: 2px 2px 4px !important;
}

@media screen and (min-width: 599px) {
  .single-user-container,
  .single-appointment-container,
  .single-pet-container {
    display: flex;
    align-items: center;
    max-width: 600px;
  }

  .PetList {
    max-width: 1000px;
  }

  .AppointmentList {
    max-width: 1000px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }
}
