* {
  background-color: #282c34;
  /* overflow: hidden; */
  color: white;
  font-family: "Sora", sans-serif;
}

.App {
  text-align: center;
  /* font-family: "Domine", serif; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 320px;
}

.PetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: underline;
}

::after {
  color: #607744 !important;
}

a.nav-link {
  color: #607744 !important;
}

a.nav-link.active {
  background-color: #607744 !important;
  color: white !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #607744 !important;
}

a.nav-link:hover {
  color: #8eaf66 !important;
  transition: 0.3;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #607744 !important;
}

a.show > .nav-link {
  background-color: #607744 !important;
}

@media screen and (min-width: 610px) {
  .single-user-container,
  .single-pet-container {
    display: flex;
    align-items: center;
    max-width: 800px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
  }
}
